@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Nunito Sans';

  --light-primary-color: var(--white);
  --light-background-color: var(--very-light-gray);
  --light-text-color: var(--mostly-black-blue);
  --dark-primary-color: var(--dark-blue);
  --dark-background-color: var(--very-dark-blue);
  --dark-text-color: var(--white);

  --dark-blue: #2b3945;
  --very-dark-blue: #202c37;
  --mostly-black-blue: #111517;
  --dark-gray: #858585;
  --very-light-gray: #fafafa;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
